# Python environment and build artifacts
__pycache__/
*.pyc
*.pyd
*.pyo
.env/
venv/
env/
*.egg-info/
.eggs/
dist/
build/
.ipynb_checkpoints/ # If you use Jupyter notebooks
.pytest_cache/      # If you use pytest
.mypy_cache/        # If you use MyPy for type checking
